{% extends "base.html" %}

{% block content %}
    <form class="max-w-md mx-auto" method="post" action="/checkin_date" id="date_form">
        <label for="name" class="block mb-2">{{ txt_article_name }}:</label>
        <input type="text" id="name" name="name" value="{{ name }}" class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 dark:text-black" />

        <label for="quantity" class="block mb-2">{{ txt_article_quantity }}:</label>
        <input type="number" id="quantity" name="quantity" value="1" class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 dark:text-black" />
        <div>
            <button type="button" onclick="getElementById('quantity').value=+getElementById('quantity').value-5;">- 5</button>
            <button type="button" onclick="getElementById('quantity').value=+getElementById('quantity').value-1;">- 1</button>
            <button type="button" onclick="getElementById('quantity').value=+getElementById('quantity').value+1;">+ 1</button>
            <button type="button" onclick="getElementById('quantity').value=+getElementById('quantity').value+5;">+ 5</button>
        </div>

        <label for="storage_id" class="block mb-2">{{ txt_storage}}:</label>
        <select id="storage_id" name="storage_id" class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 dark:text-black">
            {% for storage in storages %}
                <option value="{{ storage.id }}" {% if selected_storage.id == storage.id %}selected{% endif %}>{{ storage.name }}</option>
            {% endfor %}
        </select>

        <label for="expiration_date" class="block mb-2">{{ txt_expiration_date }}:</label>
        <input type="date" id="expiration_date" name="expiration_date" required placeholder="{{ txt_enter_expiration_date}}" class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 dark:text-black" />

        <!-- Add your easy accessible calendar here -->
        <div id="calendar">
            <h3 class="font-extrabold">{{this_month}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>{{ txt_mon }}</th>
                        <th>{{ txt_tue }}</th>
                        <th>{{ txt_wed }}</th>
                        <th>{{ txt_thu }}</th>
                        <th>{{ txt_fri }}</th>
                        <th>{{ txt_sat }}</th>
                        <th>{{ txt_sun }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for _ in range(first_of_month.weekday()) %}
                        <td></td>
                    {% endfor %}
                    {% for day,day_data in days.items() %}
                        {% if day_data[0] == first_of_month.month %}
                            <td class="{% if day_data[2]<0 %}text-red-500{% else %} border border-gray-300 rounded-md mx-1 my-px{% endif %}">
                                <button type="button" onclick="getElementById('expiration_date').value='{{day.strftime("%Y-%m-%d")}}';getElementById('date_form').submit();" {% if day_data[2]<0 %}disabled{% endif %}>
                                    {{ day.strftime("%d.%m.") }} ({{ day_data[2] }})
                                </button>
                            </td>
                            {% if day_data[1]==6 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table> <h3>{{next_month}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>{{ txt_mon }}</th>
                        <th>{{ txt_tue }}</th>
                        <th>{{ txt_wed }}</th>
                        <th>{{ txt_thu }}</th>
                        <th>{{ txt_fri }}</th>
                        <th>{{ txt_sat }}</th>
                        <th>{{ txt_sun }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for _ in range(first_of_next_month.weekday()) %}
                        <td></td>
                    {% endfor %}
                    {% for day,day_data in days.items() %}
                        {% if day_data[0] == first_of_next_month.month %}
                            <td class=" border border-gray-300 rounded-md mx-1 my-px">
                                <button type="button" onclick="getElementById('expiration_date').value='{{day.strftime("%Y-%m-%d")}}';getElementById('date_form').submit();" >
                                {{ day.strftime("%d.%m.") }} ({{ day_data[2] }})
                                </button>
                            </td>
                            {% if day_data[1]==6 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">{{ txt_submit }}</button>
    </form>
{% endblock %}