{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold mb-4">{{ txt_check_in_articles }}</h1>
        <form action="/checkin" method="POST">
            <div class="mb-4">
                <label for="barcode" class="block text-gray-700 dark:text-gray-100">{{ txt_barcode }}:</label>
                <input type="text" id="barcode" name="barcode" class="border border-gray-300 rounded px-4 py-2 w-full dark:text-black" autofocus>
            </div>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 dark:text-gray-100">{{ txt_article_name }}:</label>
                <input type="text" id="name" name="name" class="border border-gray-300 rounded px-4 py-2 w-full dark:text-black">
            </div>
            <div class="mb-4">
                <label for="storage_id" class="block text-gray-700 dark:text-gray-100">{{ txt_storage }}:</label>
                <select id="storage_id" name="storage_id" class="border border-gray-300 rounded px-4 py-2 w-full dark:text-black">
                    {% for storage in storages %}
                        <option value="{{ storage.id }}" {% if selected_storage_id == storage.id %} selected {% endif %}>{{ storage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" hidden />
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Check In</button>
        </form>

        <h2 class="text-xl font-bold mt-8">{{ txt_existing_articles }}</h2>
        <table class="mt-4 mt-4 mx-4 border-collapse" id="current-articles-table">
            <thead>
                <tr>
                    <th class="py-2 px-4 border bg-gray-200 dark:text-black w-1/8">{{ txt_article_quantity }}</th>
                    <th class="py-2 px-4 border bg-gray-200 dark:text-black w-1/2">{{ txt_name }}</th>
                    <th class="py-2 px-4 border bg-gray-200 dark:text-black w-1/4">{{ txt_storage }}</th>
                    <th class="py-2 px-4 border bg-gray-200 dark:text-black w-1/4">{{ txt_expiration_date }}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td class="py-2 px-4 border">{{ article.quantity }}</td>
                        <td class="py-2 px-4 border">{{ article.name }}</td>
                        {% for storage in storages %}
                            {% if storage.id == article.storage_id %}
                                <td class="py-2 px-4 border">{{ storage.name }}</td>
                            {% endif %}
                        {% endfor %}
                        <td class="py-2 px-4 border">({{ article.days_left }} {{ txt_days_remaining }}) {{ article.expiration_date.date() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        new DataTable('#current-articles-table');
    </script>
{% endblock %}